//Arithmetic operators
arithmetic-1{
    font-size: 4px + 2;
}

arithmetic-2{
    font-size: 4px - 2;
}

arithmetic-3{
    font-size: (10/2);
    opacity: random(4) / 5;
    padding-right: 2px / 4px + 3px;
}