//loop over a fixed range
@for $i from 1 through 3{
    .loop-item-#{$i}{
        width: 15px * $i;
    }
}

//For each value in a list
@each $color in red,green,blue{
    .each-color-#{""+$color}{
        background-color: $color;
    }
}


//Extract values for each item in list
$success:success, green,normal;
$error:error, red,bold;

@each $type,$color, $font-weight in $success,$error{
    .#{$type}-message{
            color: $color;
            font-weight: $font-weight
    }
}

//While loop
$counter: 1;
@while $counter < 4{
    .while-counter-#{$counter}{
        border-width: 2*$counter px;
    }
    $counter: $counter +1;
}
